#server
PORT=4000
IP_ADDRESS=sass-node-express

# NODE_ENV = development
NODE_ENV=production
#database
DATABASE_URI=

# RabbitMQ
RABBITMQ_URL=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Security and Authentication
JWT_ACCESS_SECRET=11e12d1d11fe4fff3de4f24f2feasdasde3w3wg3wg34grf243tfergerty45yhu56ujhh
JWT_ACCESS_EXPIRE=30d
JWT_REFRESH_SECRET=adasdasd21323c23r32rc23rc3x232z3ce23v5423b5n34bv34g234tg3w5rtgwrfd2q3fwreger5hye4ygtge
JWT_REFRESH_EXPIRE=90d


# Email Configuration
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Admin Credentials
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123

#multer 
MAX_FILE_SIZE=200 * 1024 * 1024
MAX_COUNT_FILE=3  

#ENCRYPTION DECRYPTION
ENCRYPTION_SECRET_KEY= asdasdasjy87e23h78he123x8e1901h0129xe12ehx81932hre81h32r9vg3g9

#Ai Key
GEMINI_API_KEY=
OPENAI_API_KEY=

#STRIP
PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=


#plaid
CLIENT_ID=6868c002483ccd4
SECRET_KEY=a757c0f072f539cc

#go card less
SECRET_ID_GO=c296dffe-b9957
SECRET_KEY_GO=cfcee71c7e96cd611ff7c7deca6fbbe7f9e19d0822